.git
.github
.specify
.turbo
.vscode

node_modules
**/node_modules
**/.turbo
**/dist
**/coverage
**/*.tsbuildinfo
playwright-report

.env
**/.env

0g-doc
0g-ts-sdk
langgraphjs
local
specs
template
tests
twitterapi-io

frontend

axl/.git
axl/.buildkite
axl/assets
axl/containerfiles
axl/docs
axl/examples
